h1 {
    text-align: center;
}
.inputs-container {
    position: relative;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
}
@media all and (min-width: 801px) {
    .inputs-container {
        width: 80%;
        margin: .5em auto;
    }
}
@media all and (max-width: 800px) {
    .inputs-container {
        width: calc(100%-2px);
        margin: 1px;
    }
}