.result-summary {
    position: absolute;
    right: 0.25em;
    top: 0.25em;
    padding: 5px;
    border: 1px solid rgb(200,200,200);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    background-color: white;
    border-radius: 5px;
    z-index: 2;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}
.result-summary.visible {
    width: 33%;
    min-width: 340px;
}
.result-summary.hidden {
    height: 1.5em;
    opacity: 0.5;
}
.result-summary.hidden:hover {
    opacity: 1;
}
.summary-content {
    opacity: 1;
    visibility: visible;
}
.summary-content.hidden {
    opacity: 0;
    visibility: hidden;
}
.result-list {
    padding: 0;
    list-style-type: none;
}
.summary-header {
    font-size: 1.3em;
    margin-bottom: 0.25em;
}
.summary-text {
    margin: 0.25em 0;
}
.summary-graph {
    display: flex;
    flex-direction: row;
    margin: 0.25em 0;
}